* {
  font-family: Roboto, sans-serif;  
}

#plaid-login {
  margin-top: 10%;
  width: 100%;
}

#divisor-selector {
  margin-left: 40%;
}

#amount-display {
  width: 100%;
  margin: auto;
}

#totals-block {
  width: 100%;
  text-align: center;
}

.export-btn {
  margin: 2vh 30vh 2vh 30vh
}

.half-wide-centered {
  padding-left: 45%;
  padding-right: 45%;
  margin-top: 20%;
}

.row-hidden {
  opacity:0.5;
}

.select {
  display: grid;
}

.table {
  height: 80vh;
  overflow: auto;
}

.center-header {
  margin: auto;
}

.textarea-full-width {
  width: 100%;
}